{% extends "templates/app.twig" %} {% block content %}
<div class="flex-grow-1 d-flex align-items-start">
    <div class="row w-100">
        <div class="col-md-8">
            <div id="containers">
                <div class="loading">
                    <i class="icon-spinner icon-spin icon-large"></i> Loading data from Google Spreadsheets...
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <p>In 2019,
                <span id="country-name">Costa Rica</span> was the
                <span id="country-rank">12th</span> happiest country in the world</p>
            <h3>Why is
                <span id="country-name-question">Costa Rica</span> in this place?</h3>

            <figure class="highcharts-figure">
                <div id="container-2"></div>
            </figure>
        </div>
    </div>

</div>

{% endblock %} {% block scripts%}
<script src="{{ base_url() }}/js/index.js"></script>
<script>
    $(document).ready(function() {
        init();
    });
</script>
{% endblock %}